@import "tailwindcss";

body {
  font-family: 'IBM Plex Mono', monospace;
  background-image: url('/images/background.jpg'); /* path to your grunge image */
  background-size: cover;      /* make sure it fills the screen */
  background-repeat: no-repeat;
  background-attachment: fixed; /* optional, gives a nice parallax effect */
  background-position: center;
  color: #ffffff; /* optional, adjust text color for contrast */
}

.markdown-body img {
  display: block;
  margin: 2rem auto;
  padding: 0;
  max-width: 100%;
  height: auto;
}